parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    memcached_hosts:
        -
            dsn: 127.0.0.1
            port: 11211

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    qurep_entities:
        -  entity_name: users
           class: QuRePTestBundle\Entity\User
